{% extends "layout.html" %}

{% block title %}
    Start Trial
{% endblock title %}

{% block content %}
    <section>
        <h1>Start Trial</h1>

        <form method="post" action="{% url 'word_trials' %}">
            {% csrf_token %}
            <label for="participant_name">Participant Name:</label>
            <input type="text" name="participant_name" id="participant_name" required>
            <br><br>

            {% for word in unique_words %}
                <button type="submit" name="word" value="{{ word }}">{{ word }}</button>
            {% endfor %}
        </form>
    </section>
{% endblock content %}